html, body {
    margin: 0;
    padding: 0;
}

* {
    background-color: black;
    color: white;
}

#directorynavigation .directorynavigation-item {
    display: inline-block;
}

#filecontent {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #222222;
    height: 500px;
}
